
.ipynb_checkpoints/Execution_of_the_bundling_layer-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/norm_layer_6.3-checkpoint.3_layer_norm
.ipynb_checkpoints/Mnist_batchnorm-checkpoint.ipynb
